In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [2]:
df = pd.read_csv("train.csv")

In [3]:
df.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,2,15694510,Hsueh,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,3,15741417,Kao,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,4,15766172,Chiemenam,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0

In [4]:
df.isnull().sum()

id                 0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [5]:
df = df.drop(columns=['id','CustomerId'],axis=1)

In [7]:
df.head()

,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,Hsueh,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,Kao,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,Chiemenam,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0

In [8]:
label = LabelEncoder()
df['Gender'] = label.fit_transform(df['Gender'])

In [13]:
df.head()

,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,Okwudilichukwu,668,France,1,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,Okwudiliolisa,627,France,1,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,Hsueh,678,France,1,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,Kao,581,France,1,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,Chiemenam,716,Spain,1,33.0,5,0.00,2,1.0,1.0,15068.83,0

In [17]:
one = OneHotEncoder()
d = one.fit_transform(df[['Geography']])

In [19]:
one.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [24]:
dd = pd.DataFrame(d.toarray(),columns=one.get_feature_names_out(['Geography']))

In [25]:
df = pd.concat([df.drop(columns=['Geography'],axis=1),dd],axis=1)

In [28]:
df = df.drop(columns=['Surname'],axis=1)

In [29]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,668,1,33.0,3,0.00,2,1.0,0.0,181449.97,0,1.0,0.0,0.0
1,627,1,33.0,1,0.00,2,1.0,1.0,49503.50,0,1.0,0.0,0.0
2,678,1,40.0,10,0.00,2,1.0,0.0,184866.69,0,1.0,0.0,0.0
3,581,1,34.0,2,148882.54,1,1.0,1.0,84560.88,0,1.0,0.0,0.0
4,716,1,33.0,5,0.00,2,1.0,1.0,15068.83,0,0.0,0.0,1.0

preprocessing pkl file

In [30]:
with open("labelencoder.pkl","wb") as file:
    pickle.dump(label,file)
with open("onehotencoder.pkl","wb") as file:
    pickle.dump(one,file)

In [31]:
X = df.drop(columns=['Exited'],axis=1)
y = df['Exited']

In [33]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)
s = StandardScaler()
X_train = s.fit_transform(X_train)
X_test = s.transform(X_test)

pickle scalar file

In [34]:
with open("scalar.pkl","wb") as file:
    pickle.dump(s,file)

ANN

In [37]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import TensorBoard,EarlyStopping

In [43]:
(X_train.shape[1],)

(12,)

In [40]:
# Need to create Sequential layer first and then inside that
# you will have ip, dense layers


model = Sequential([
    # In Dense/hidden layer, first param is number of neurons
    Dense(64,activation="relu",input_shape=(X_train.shape[1],)),
    # second h2 layer
    Dense(32,activation="relu"),
    # op layer
    Dense(1,activation="sigmoid")
]
)

c:\D Drive\Projects\Deep learning\Ann classification\venv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [41]:
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [46]:
# compile the model
opt = tf.keras.optimizers.Adam(learning_rate=0.01)
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [48]:
## setup the tesorboard
# logging is imp
import datetime
log_dir = "logs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

In [49]:
## setting up early stopping
# when your loss is not decreasing not by much diff then you can imp early stopping
# patience param is saying run atleast 4 epochs
early_stopping = EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

Training ANN

In [50]:
history = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,callbacks=[tensorflow_callback,early_stopping]
)

Epoch 1/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 13s 3ms/step - accuracy: 0.8510 - loss: 0.3532 - val_accuracy: 0.8643 - val_loss: 0.3291
Epoch 2/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 15s 4ms/step - accuracy: 0.8614 - loss: 0.3319 - val_accuracy: 0.8638 - val_loss: 0.3254
Epoch 3/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 15s 4ms/step - accuracy: 0.8611 - loss: 0.3313 - val_accuracy: 0.8632 - val_loss: 0.3261
Epoch 4/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 15s 4ms/step - accuracy: 0.8627 - loss: 0.3295 - val_accuracy: 0.8640 - val_loss: 0.3229
Epoch 5/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 16s 4ms/step - accuracy: 0.8633 - loss: 0.3294 - val_accuracy: 0.8632 - val_loss: 0.3259
Epoch 6/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 14s 3ms/step - accuracy: 0.8638 - loss: 0.3255 - val_accuracy: 0.8648 - val_loss: 0.3247
Epoch 7/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 15s 4ms/step - accuracy: 0.8619 - loss: 0.3288 - val_accuracy: 0.8633 - val_loss: 0.3225
Epoch 8/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 14s 3ms/step - accuracy: 0.8642 - loss: 0.3253 - val_accuracy: 0.8634 - val_loss: 0.3229
Epoch 9/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 14s 3ms/step - accuracy: 0.8621 - loss: 0.3273 - val_accuracy: 0.8649 - val_loss: 0.3260
Epoch 10/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 14s 3ms/step - accuracy: 0.8637 - loss: 0.3249 - val_accuracy: 0.8656 - val_loss: 0.3241
Epoch 11/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 14s 3ms/step - accuracy: 0.8619 - loss: 0.3283 - val_accuracy: 0.8625 - val_loss: 0.3216
Epoch 12/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 15s 4ms/step - accuracy: 0.8625 - loss: 0.3291 - val_accuracy: 0.8625 - val_loss: 0.3254
Epoch 13/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 15s 4ms/step - accuracy: 0.8649 - loss: 0.3258 - val_accuracy: 0.8634 - val_loss: 0.3238
Epoch 14/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 15s 4ms/step - accuracy: 0.8643 - loss: 0.3229 - val_accuracy: 0.8647 - val_loss: 0.3225
Epoch 15/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 14s 3ms/step - accuracy: 0.8640 - loss: 0.3261 - val_accuracy: 0.8630 - val_loss: 0.3242
Epoch 16/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 15s 4ms/step - accuracy: 0.8637 - loss: 0.3263 - val_accuracy: 0.8638 - val_loss: 0.3273

In [52]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [53]:
## load tensorboard extension
%load_ext tensorboard

In [55]:
%tensorboard --logdir logs/fit20240727-125919

Reusing TensorBoard on port 6006 (pid 22512), started 0:01:58 ago. (Use '!kill 22512' to kill it.)