In [41]:
import pandas as pd
import numpy as np
from tensorflow.keras.models import load_model
import pickle


Predicting new data

In [42]:
# load
# model,scalar,onehot,label pkl files
model = load_model('model.h5')
with open('labelencoder.pkl','rb') as file:
    label = pickle.load(file)
with open('onehotencoder.pkl','rb') as file:
    one = pickle.load(file)
with open('scalar.pkl','rb') as file:
    scalar = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [10]:
df = pd.read_csv('train.csv')

In [11]:
df = df.drop(columns=['id','CustomerId','Surname'],axis=1)

In [12]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0

In [24]:
df[:1]

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,668,France,Male,33.0,3,0.0,2,1.0,0.0,181449.97,0

In [43]:
ip = {'CreditScore': 668,
  'Geography': 'France',
  'Gender': 'Male',
  'Age': 33.0,
  'Tenure': 3,
  'Balance': 0.0,
  'NumOfProducts': 2,
  'HasCrCard': 1.0,
  'IsActiveMember': 0.0,
  'EstimatedSalary': 181449.97,
  'Exited': 0}

In [55]:
ip = pd.DataFrame([ip])

ValueError: Must pass 2-d input. shape=(1, 1, 11)

In [56]:
ip

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,668,France,Male,33.0,3,0.0,2,1.0,0.0,181449.97,0

In [53]:
geography = one.transform([[ip['Geography']]]).toarray()
geo = pd.DataFrame(geography,columns=one.get_feature_names_out(['Geography']))
geo

c:\D Drive\Projects\Deep learning\Ann classification\venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [58]:
ip['Gender'] = label.transform(ip['Gender'])

In [60]:
ip = pd.concat([ip.drop('Geography',axis=1),geo],axis=1)

In [63]:
ip = ip.drop('Exited',axis=1)

In [64]:
ip = scalar.transform(ip)

In [65]:
ip

array([[ 0.14012702,  0.87903241, -0.57735403, -0.71989972, -0.88465622,
         0.81408593,  0.57144077, -0.99461409,  1.3677927 ,  0.86727152,
        -0.51576047, -0.52978452]])

In [66]:
pred = model.predict(ip)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 90ms/step

In [70]:
if pred>0.5:
    print("customer likely to churn")
else:
    print("cusomer is not likely to churn")

cusomer is not likely to churn